<app-divider> Segment Component </app-divider>
<app-segment>
  <header>
    <i class="pdf file outline icon"></i>
    No documents are listed for this customer.
  </header>
  <div class="ui primary button">Add Document</div>
</app-segment>

<app-segment>
  <header>
    <i class="add icon"></i>
    Add a resource
  </header>
  <div class="ui primary button">Click to add</div>
</app-segment>

<app-segment>
  <h4>nothing is passed inside header tag</h4>
</app-segment>

<app-divider> Place Holder Component </app-divider>
<h3>Placholder With headers(default)</h3>
<app-placeholder></app-placeholder>
<h3>Placholder Without headers</h3>
<app-placeholder [header]="false"></app-placeholder>
<h3>Genearting lines using custom directives(3 lines)</h3>
<div class="ui placeholder">
  <ng-container *appTimes="3">
    <div class="long line"></div>
  </ng-container>
</div>
