<app-divider> Table Component </app-divider>
<app-table
  [data]="data"
  [headers]="headers"
  classNames="striped celled"
></app-table>
<div style="margin-top: 10px">
  <app-divider> Tab Menu </app-divider>
</div>
<app-tabs>
  <a
    routerLink="./"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="item"
    >Biography</a
  >
  <a routerLinkActive="active" routerLink="./companies" class="item">
    Companies
  </a>
  <a routerLinkActive="active" href="" routerLink="./partners" class="item">
    Partners
  </a>
</app-tabs>
