<div class="ui placeholder" *ngIf="header">
  <div class="full line"></div>
  <div class="very long line"></div>
  <div class="long line"></div>
  <div class="medium line"></div>
  <div class="short line"></div>
  <div class="very short line"></div>
</div>
<div class="ui placeholder">
  <div class="image header">
    <div class="medium line"></div>
    <div class="full line"></div>
  </div>
  <div class="paragraph">
    <div class="full line"></div>
    <div class="medium line"></div>
  </div>
</div>

