<div class="ui dimmer visible active" (click)="triggerCloseModalAction()">
    <!-- IMPORTANT: For handling event bubbling (dont't close the modal if clicked on the white backgrounded area) -->
  <div class="ui modal visible active" (click)="$event.stopPropagation()">
    <i class="close icon" (click)="triggerCloseModalAction()"></i>
    <div class="header">
      <ng-content select="[modalTitle]"></ng-content>
    </div>
    <div class="content">
      <ng-content></ng-content>
    </div>
    <div class="actions actions-default">
      <button class="ui button" (click)="triggerCloseModalAction()">Cancel</button>
    </div>
  </div>
</div>
